
# databases
*.db
*.sql
*.sqlite

# binary
*.pyc
*.swp

# secrets
secrets.py*
local_settings.py*

#virtualenv and requirements
bin/
include/
lib/
man/
share/

# requirements
requirements.txt
.Python
*.json
.ipynb_checkpoints/
